header {
  position: relative;
  padding: 10px 40px 10px 40px;
  background-color: #232f3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 100px 50px #232f3e;
  z-index: 2;
  white-space: nowrap;

  @media (max-width: 600px) {
    padding: 10px;
  }

  .logo-container {
    width: 150px;
    a,
    img {
      width: inherit;
      @media (max-width: 600px) {
        width: 100px;
      }
    }
  }

  .header-right-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .user-btn {
      width: 40px;
      height: 40px;
      border: 1px solid rgb(242 244 246 / 70%);
      border-radius: 50%;
      position: relative;

      &:hover {
        border: 1px solid white;
      }

      i {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        @media (max-width: 600px) {
          font-size: 1.2em;
        }
      }
    }

    div {
      a {
        font-size: 1.3em;
        color: rgb(242 244 246 / 70%);

        &:hover {
          color: white;
        }

        @media (max-width: 600px) {
          font-size: 0.8em;
        }
      }

      &:hover {
        border-bottom: 1px solid white;
      }

      &:not(:first-child) {
        margin-left: 50px;
        @media (max-width: 600px) {
          margin-left: 10px;
        }
      }
    }
  }
}
