header {
  position: relative;
  padding: 10px 40px 10px 40px;
  background-color: #232f3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 100px 50px #232f3e;
  z-index: 2;
  white-space: nowrap;

  @media (max-width: 600px) {
    padding: 10px;
  }

  .logo-container {
    width: 150px;
    a,
    img {
      width: inherit;
      @media (max-width: 600px) {
        width: 100px;
      }
    }
  }

  .search-box-container {
    width: 50%;

    input {
      border-radius: 5px;
      border: 1px solid rgba(0, 169, 225);
      padding: 10px;
      font-size: 1em;
      width: 100%;
      color: white;
      background-color: transparent;
      transition: border 0.3s;

      &:hover {
        border: 2px solid rgba(0, 169, 225);
      }

      &:focus {
        border: 4px solid rgba(0, 169, 225);
      }

      &:focus + .search-box {
        display: block;
        height: 500px;
        border: 1px solid rgba(0, 169, 225);
        border-radius: 10px;
        position: absolute;
        background-color: #192b41;
        overflow-x: auto;
      }
    }

    .search-box {
      display: none;
      position: absolute;
      .movie-item {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 1px solid rgba(0, 169, 225);
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        .movie-image {
          img {
            border-radius: 5px;
            width: 60px;
          }
        }

        .movie-name {
          color: white;
          margin-left: 30px;
        }
      }
    }
  }

  .header-right-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .user-btn {
      width: 40px;
      height: 40px;
      border: 1px solid rgb(242 244 246 / 70%);
      border-radius: 50%;
      position: relative;

      &:hover {
        border: 1px solid white;
      }

      i {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        @media (max-width: 600px) {
          font-size: 1.2em;
        }
      }
    }

    div {
      a {
        font-size: 1.3em;
        color: rgb(242 244 246 / 70%);

        &:hover {
          color: white;
        }

        @media (max-width: 600px) {
          font-size: 0.8em;
        }
      }

      &:hover {
        border-bottom: 1px solid white;
      }

      &:not(:first-child) {
        margin-left: 50px;
        @media (max-width: 600px) {
          margin-left: 10px;
        }
      }
    }
  }
}
