.top-movie-list-container {
  background-color: #192b41;
  margin: 10px;
  border: 1px solid #2c4f79;
  padding: 0 50px 20px 50px;
  position: relative;

  .section-title {
    margin: 10px 0 10px 0;
    border-left: 6px solid rgb(0, 168, 225);

    h2 {
      margin-left: 20px;
      color: rgb(0, 168, 225);
    }
  }

  .scroll-right-btn {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 169, 225);
    background-color: rgba(0, 169, 225, 0.4);
    transition: background-color 0.1s;
    cursor: pointer;
    i {
      color: white;
    }
    &:active {
      background-color: rgba(0, 169, 225, 0.8);
    }
  }

  .scroll-left-btn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 169, 225);
    background-color: rgba(0, 169, 225, 0.4);
    transition: background-color 0.1s;
    cursor: pointer;
    i {
      color: white;
    }
    &:active {
      background-color: rgba(0, 169, 225, 0.8);
    }
  }

  .movie-list {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;

    .movie-card {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      cursor: pointer;
      min-width: 200px;
      min-height: 470px;

      &:not(:last-child) {
        margin-right: 20px;
      }

      .card-image {
        height: 300px;

        img {
          object-fit: contain;
          width: 100%;
          height: inherit;
        }
      }

      .movie-infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;

        .movie-rates {
          span {
            color: rgb(242 244 246 / 70%);
            margin-left: 10px;
          }

          i {
            color: #f5c518;
          }
        }

        .info-btn {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(0, 169, 225, 0.1);
          border: 1px solid rgb(0, 168, 225);

          .fa-info-circle {
            font-size: 2em;
            color: rgb(0, 168, 225);
          }
        }
      }

      .movie-name {
        padding: 0 0 5px 0;
        text-align: center;
        color: rgb(242 244 246 / 70%);
      }

      .card-buttons {
        .watchlist-btn {
          cursor: pointer;
          border-radius: 5px;
          background-color: rgba(0, 169, 225, 0.192);
          color: rgb(0, 168, 225);
          width: 100%;
          padding: 10px;
          font-size: 1em;

          i {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
